#header{
  background-color: #13A;
  color :white;
  min-height: 70px;
  overflow: hidden;
}

#header a, a:visited, a:hover { color: #DDD; }

#title {
  float: left;
}

#container{
  width: 950px;
  margin: 0 auto;
  background-color: #FFF;
}

#content{
  background-color: #FFF;
  margin: 0 30px
}

#header h1{
  padding: 23px;
}
.signed_in_box {
  float: right;
  padding: 10px;
}

.comments {
  background-color: #FAF8CC;
  padding-left: 70px;
  font-size: 80%;
  overflow: hidden;
}

.entry_feed {
  padding: 10px;
}
body { 
  background-color: #fff; color: #333; 
}

body{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  background-color: #DDD;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a, a:visited, a:hover { color: #AAA; text-decoration: none}
a:hover { text-decoration: underline }

div.field, div.actions {
  margin: 10px;
}

#notice {
  color: green;
  clear: both;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul{
  list-style: none;
  padding: 0px;
}

li{
  margin: 0 0 0 10px;
}

li.odd{
  background-color: #DDD;
  margin: 10px 0;
  border: 1px dotted gray;
}

li.even{
  background-color: #EEE;
  margin: 10px 0;
  border: 1px dotted gray;
}

#footer{
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

#search {
  clear: right;
}

.notice {
  background: none repeat scroll 0 0 #EE8888;
  border: 1px solid black;
  font-size: 110%;
  margin: 10px;
  padding: 20px;
}

.image_profile{
  float: left;
  margin-right: 35px;
}

.clear {
  clear: both;
}

.image_friend{
  width: 20px;
  margin-right: 5px;
}

label {
  padding: 0 10px 0 0;
}

.snippet_title{
    background-color: #EAEAEA;
    color: #666666;
    font-size: 85%;
    overflow: hidden;
    padding: 0.5em;
}

.comments li {
  padding: 5px;
  border-bottom: 1px solid gray;
}

.comments form {
}
