
<% unless user_signed_in? %>
<div>
  <h1>
	<%= link_to t('.sign_up'), new_user_registration_path%> |
	<%= link_to t('.sign_in'), new_user_session_path%>
	</h1>
</div>
<%else%>
<h2>Social network feed</h2>
<%=render :partial => "/walls/wall", :locals => {:wall => @wall}%>
<% end %>

